<div class="empleado-books-container">
  <h2>Lista de Productos</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Géneros</th>
          <th>Precio</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros">
          <td>
            <img [src]="libro.imagen || 'https://images.cdn1.buscalibre.com/fit-in/360x360/61/18/61189807904118e0fc5d2d5001de5929.jpg'" alt="Imagen de libro" width="60">
          </td>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.autor }}</td>
          <td>
            <span class="badge bg-primary me-1" *ngFor="let genero of libro.generos">{{ genero }}</span>
          </td>
          <td>${{ libro.precio }}</td>
          <td>{{ libro.stock }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>